:root{
    --primary-color: black;
    --hover-color: rgba(34, 33, 33, 0.63);
    --accent-color: rgba(86, 13, 115, 0.629);
    --text-color: white;
}

/* You need to memorise this type of DEFAULT code */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family: Poppins, "Segoe UI", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color : var(--text-color);
}

body{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--primary-color);
}

main{
    padding: min(5em, 7%);
}

main p {
    margin-top: .35em;
}

nav ul{
    list-style: none;
    display:flex;
}
nav li{
    display: flex;
    
}
nav .Home{
     margin-right:auto; 
}
nav a{
    display:flex;
    text-decoration: none;
    color: var(--color-text);
    padding: 1em 2em;
    transition: background-color 150ms ease;
}
nav a:hover{
    background-color: var(--hover-color);
}

nav a.active-link{
    border-bottom: 2px solid var(--text-color)
}
nav a.accent-link{
    background-color: var(--accent-color);
}

@media screen and (max-width: 700px) {
   nav{
     position:fixed;
     top:0;
     right:-100%;
     height: 100vh;
     width: min(15em, 100%);
     z-index:10;
     border-left: 1px solid var(--hover-color);
     transition:right 400ms ease-in;
   }
   nav.show{
    right:0;
   }
    main{
    padding: min(5em, 7%);
    }

     main p {
         margin-top: .35em;
     }  
    nav a{
    width: 100%;
    padding-left: 2.5em;
   }
   nav ul{
    width:100%;
    flex-direction: column;
   }
}