* {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', monospace, ;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    /*Aligns the box in the center*/
    min-height: 100vh;
    background-image:url(template/students.webp);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.login-box {
    position: relative;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    border-color: black;
    background:transparent;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color:aliceblue;
    text-align: center;
}
.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid aliceblue;
}

.input-box label{
    position :absolute; 
    top:50%;
    left:5px;
    transform: translateY(-70%);
    font-size: 1em;
    font-style: bold;
    color:aliceblue;
    pointer-events: none;
    transition: .5s;
}
/*Special like animation when we begin inputing anything in the input field, the label goes up*/
.input-box input:focus~label, .input-box input:valid~label{
    top: 10px;
}
.input-box input{
    width:100%;
    border-radius: 20px;
    height: 50px;
    background: transparent;
    border: none;
    outline:none;
    font-size: 1em;
    color : aliceblue;
    padding: 0 8px 0 5px; 
}

.remember-me{
    margin: -15px 0 15px;
    font-size: .9em;
    color:aliceblue;
    display: flex;
    justify-content: space-between;
}
.remember-me label input{
    margin-right: 3px;
}
.remember-me a {
    color: aliceblue;
    text-decoration: none;
}
.remember-me a:hover{
    color:blueviolet;
    transform: translateY(-10%);
    transition: .2s;
}

button{
    width: 100%;
    height: 40px;
    background: aliceblue;
    border: none;
    outline: none;
    border-radius: 40px;
}
button:hover{
    color:aliceblue;
    background-color: rgba(137, 43, 226, 0.62);
    transition: .9s;
}
.not-registered{
    margin: 25px 0 10px;
    font-size: .9em;
    color:aliceblue;
    display: flex;
    justify-content: space-between;
}
.not-registered a {
    color: aliceblue;
    text-decoration: none;
}

.not-registered a:hover{
    color:blueviolet;
    transform: translateY(-10%);
    transition: .2s;
}