:root {
  --primary-bg-color: aliceblue;
  --primary-button-color: blueviolet;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /*Aligns the box in the center*/
  min-height: 100vh;
  background-image: url(template/students.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.login-box {
  position: relative;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  border-color: black;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2em;
  color: --primary-bg-color;
  text-align: center;
}
.input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid --primary-bg-color;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-70%);
  font-size: 1em;
  font-style: bold;
  color: --primary-bg-color;
  pointer-events: none;
  transition: 0.5s;
}
/*Special like animation when we begin inputing anything in the input field, the label goes up*/
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: 10px;
}
.input-box input {
  width: 100%;
  border-radius: 20px;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: --primary-bg-color;
  padding: 0 8px 0 5px;
}

.remember-me {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: --primary-bg-color;
  display: flex;
  justify-content: space-between;
}
.remember-me label input {
  margin-right: 3px;
}
.remember-me a {
  color: --primary-bg-color;
  text-decoration: none;
}
.remember-me a:hover {
  color: --primary-button-color;
  transform: translateY(-10%);
  transition: 0.2s;
}

button {
  width: 100%;
  height: 40px;
  background: --primary-bg-color;
  border: none;
  outline: none;
  border-radius: 40px;
}
button:hover {
  color: --primary-bg-color;
  background-color: --primary-button-color;
  transition: 0.9s;
}
.not-registered {
  margin: 25px 0 10px;
  font-size: 0.9em;
  color: --primary-bg-color;
  display: flex;
  justify-content: space-between;
}
.not-registered a {
  color: --primary-bg-color;
  text-decoration: none;
}

.not-registered a:hover {
  color: --primary-button-color;
  transform: translateY(-10%);
  transition: 0.2s;
}
